.home {
    margin: 64px;

}

.trending-section {
    text-align: center;
}

.home-body {
    display: flex;
    margin-top: 32px;

    .blog-section {
        flex: 2;
       

        .blog-headline {
            border-bottom: 1px solid black;
        }
    }

    .home-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
}

.tags-section {
    width: 90%;

    .tags-headline {
        border-bottom: 1px solid black;
    }

    .tags-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 12px;
    }
}

.most-popular-section {
    width: 90%;
    margin-top: 100px;

    .most-popular-headline {
        border-bottom: 1px solid black;
    }

    .most-popular-container {
        margin-top: 24px;
    }

}